div.theme-panel {
  width: 100%;
  max-width: 350px;
  padding: 9px 0;
}

caption.common-props {
  width: max-content;
}

caption.other-props {
  width: max-content;
}

table.theme-panel-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table.theme-panel-table td {
  padding: 5px;
  vertical-align: top;
}

table.theme-panel-table tr {
  border-bottom: 1px solid #d1d5db;
}

button.theme-table {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  place-items: center;
  width: 180px;
  background-color: #3578e5;
  color: white;
  font-weight: 600;
  border: none;
  padding: 5px 10px 5px 10px;
}

button.theme-table:hover {
  background-color: #4e8ef7;
}

button.theme-table:focus {
  outline: none;
}

table.theme-table {
  margin-top: 5px;
  display: grid;
  border-bottom: 1px solid gray;
}

.theme-dark .inspector-panel {
  button.theme-table {
    background: #4e8ef7;
  }
}
