.dark-mode-toggle {
  height: 2rem;
  width: 2rem;
  margin-right: 11px;

  button {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}

[data-theme="dark"] .dark-mode-toggle button:hover {
  background: rgba(255, 255, 255, 0.08);
}
