.button--download {
  button.download-btn {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
  }

  button.download-btn:hover:not(:disabled) {
    background-color: #222222;
  }

  button.download-btn:disabled,
  button.download-btn.disabled {
    opacity: 0.5;
    cursor: default;
  }

  .wrapper {
    display: flex;

    .icon {
      height: 20px;

      img {
        height: 23px;
        margin-right: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .button--download {
    display: none;
  }
}

div.download-icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  display: flex;
}

svg.icon-refresh {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  animation: spin-animation 1s infinite ease;
}

svg.icon-refresh > circle.primary {
  fill: white;
}

svg.icon-refresh > path.secondary {
  fill: cornflowerblue;
}

@keyframes spin-animation {
  to {
    transform: rotate(-360deg);
  }
}

div.download-text {
  padding-left: 1px;
}
