# This workflow will do a clean install of node dependencies and deploy to AWS.

name: Staging Deploy

on:
  pull_request:
    branches: [ main ]

permissions:
  id-token: write # required to use OIDC authentication
  contents: read # required to checkout the code from the repo

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install
      run: npm install

    - name: Lint
      run: npm run lint

    - name: Test
      run: npm test

    - name: Build
      run: npm run build
      env:
        BASEURL: ${{ github.event.repository.name }}/pr/${{ github.event.number }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifact
        path: out
        if-no-files-found: error

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: staging
      url: https://staging.overturemaps.org/${{ github.event.repository.name }}/pr/${{ github.event.number }}/index.html

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::763944545891:role/pages-staging-oidc-overturemaps
          aws-region: us-west-2

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: build

      - name: Copy to S3
        run: |
          aws s3 sync --delete build s3://overture-managed-staging-usw2/gh-pages/${{ github.event.repository.name }}/pr/${{ github.event.number }}/

      - name: Bust the Cache
        run: aws cloudfront create-invalidation --distribution-id E1KP2IN0H2RGGT --paths "/${{ github.event.repository.name }}/pr/${{ github.event.number }}/*"
